@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --background-hover: #1c1c1c;
  --foreground: #ffffff;
  --foreground-hover: #cfcfcf;
  --primary: #a14343;
  --primary-hover: #853636;
}


* {
  transition: all .3s ease;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif;
  padding: 60px 45px 45px 45px;
}

h1 {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: 30px;
}

p {
  margin: 0;
  font-size: 20px;
}


button {
  position: relative;
  color: var(--foreground);
  font-family: "Poppins", serif;
  font-size: 14px;
  min-height: 40px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--primary);
}

button:active {
  transform: scale(0.9);
}

button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

button:has(img) {
  padding: 10px 50px 10px 20px;
}

button img {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 20px;

  object-fit: contain;
}

@media (max-width: 768px) {

  button:active:not(:disabled) {
    background-color: var(--primary-hover);
  }

  button:active:has(img):not(:disabled) {
    color: var(--primary-hover);
  }

  button:active:not(:disabled) img {
    transform: scale(1.2);
    right: calc(50% - 10px);
  }
}



input {
  color: var(--foreground);
  font-family: "Poppins", serif;
  font-size: 20px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--background-hover);
  outline: none;
}

input:hover {
  outline: none;
}

input:focus {
  outline: none;
  transform: scale(1.05);
}

input::placeholder {
  color: var(--foreground);
}

input:focus {
  outline: none;
}

textarea {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background-hover);
  color: var(--foreground);
  width: 100%;
  max-width: 100%;
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  min-width: 100%;
  resize: none;
}

textarea:focus {
  outline: none;
}

@media (max-width: 768px) {
  body {
    padding: 15px 15px 75px 15px;
  }

    h1 {
        font-size: 35px;
    }
}