@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hover: #474747;
  --light: #e6e5e5;
  --hover-light: #cac9c9;
}


* {
  transition: all .3s ease;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif;
  padding: 45px;

}

h1 {
  margin: 0;
  font-size: 45px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: 30px;
}

p {
  margin: 0;
  font-size: 20px;
}

a {
  color: var(--foreground);
    text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: column;
    padding: 0;
  gap: 15px;
}
li {
  list-style: none;
  width: 100% ;
  font-size: 20px;
  padding: 15px;
  background-color: var(--light);
  border-radius: 15px;
}

button {
  display: flex;
    align-items: center;
    justify-content: center;
  gap: 10px;
  background-color: var(--foreground);
  color: var(--background);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--hover);
}

input[type="text"] {
  border: none;
  border-radius: 50px;
  background-color: var(--light);
  font: inherit;
}

input[type="text"]:hover {
  background-color: var(--hover-light);
}

input[type="text"]:focus {
  outline: none;
}

@media (max-width: 768px) {
  body {
    padding: 15px;
  }

    h1 {
        font-size: 35px;
    }

}